.home-main {
  /* border: 2px solid red; */
  height: 79vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color: rgba(178, 227, 227, 0.614); */
}
.home_1 {
  /* border: 2px solid blue; */
  margin: 5px;
}
.home_1_heading {
  margin: 18% 18%;
  font-size: 50px;
  font-weight: 600;
  color: rgba(68, 230, 230, 0.614);
}
.home_1_span {
  color: aqua;
  outline: 1px rgb(9, 13, 12);
}
.home_1_span:hover {
  color: aquamarine;
  cursor: pointer;
}
.home_1_loream {
  /* margin: 1%; */
  width: 80%;
  margin-left: 10%;
  margin-top: -12%;
  font-size: 18px;
  font-weight: 500;
  color: rgba(30, 97, 97, 0.614);
}
.home_1_button {
  background-color: white;
  color: rgb(44, 154, 152);
  border: 2px solid #2d766e;
  height: 40px;
  width: 20%;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.home_1_button button {
  transition-duration: 0.4s;
}

.home_1_button:hover {
  background-color: #74d1d4; /* Green */
  color: white;
}
.home_2 {
  border: 1px solid rgb(76, 191, 202);
  margin: auto;
  width: 450px;
  height: 450px;
  border-radius: 50%;
}
.home_2_img {
  /* margin: 5%; */
  padding: 5px;
  height: 80vh;
  width: 65%;
}
